<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="style.css" />
    <title>Draw</title>
  </head>
  <body>
    <canvas id="main-canvas"> </canvas>
    <input type="range" min="1" , max="5" step="0.5" id="width-input" />
    <input type="color" min="1" , max="5" step="0.5" id="color-input" />
    <div>
      <div
        class="color-option"
        style="background-color: #1abc9c"
        data-color="#1abc9c"
      ></div>
      <div
        class="color-option"
        style="background-color: #111111"
        data-color="#111111"
      ></div>
      <div
        class="color-option"
        style="background-color: #1abc9c"
        data-color="#1abc9c"
      ></div>
    </div>
    <button id="mode-button">Fill</button>
    <button id="reset-button">Reset</button>
    <button id="eraser-button">Eraser</button>
    <button id="save-button">Save</button>
    <input id = "file-input"type="file" accept="image/*"/>
    <input id = "text-input"type="text">

  <script src="draw.js"></script>
</html>
